.text-analyzer {
    height: 100vh;
}

.text-analyzer.darkMode {
    background-color: black;
    color: white;
}

.heading-dark {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


textarea#textbox.darkMode {
    background-color: #212529;
    color: white;
}